@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display');

body {
  margin:0;
  font-family: 'Tinos', serif;
}

.container {




  height:100vh;
  background: url('../images/background-min.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}
.content {
  bottom: 0;
  font-size:4em;
  color:#dbdbdb;
  padding:1.8em;
}
.content h1 {
  font-size: 1em;
  margin: 10px;
  font-family: 'Playfair Display', serif;

}
.content p {
  font-size: .35em;
  margin: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.footer-container {
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 500px;
  display: inline-block;
}
